/*a[href]{
  font-size: 2em;
  color: red;}

a[href$=pl]

zaczynające się od słowa tekst: ^=tekst
kończące się na słowo tekst: ^=tekst
zawierające gdziekolwek słow tekst *=tekst

div[label^=tekst]{}
div[label^="wybrany tekst"]{}

div[label$=tekst]{}
----------------------------------

li:nth-child(2) {}  -> drugie dziecko




*/

input[type=text] {
  background: green;
}

img[alt~="stronie"] {
  border: 3px solid magenta;
  width: 200px;
  height: auto;
}

a:link.google {
  color: orange;
}

a:visited.google {
  color: #0f7489;
}

#menu {
  font-size: 30px;
  color: green;
  font-weight: bold;
  background: black;
  width: 300px;
}

a {
  text-decoration: none;
  color: white;
  background: black;
  width: 300px;
  display: block;
}

a:hover {
  text-decoration: none;
  color: black;
  background: white;
  width: 300px;
  display: block;
}

:focus {
  outline-color: green;
}

p::first-letter {
  color: yellow;
}

p::before {
  content: 'To jest nowes zdanie.';
  color: magenta;
}

.default {
  cursor: default;
  border: 2px solid black;
  border-radius: 5px;ssss
}

.pointer {
  cursor: pointer;
  border: 2px solid black;
  outline: 5px blue dotted;
}

.crosshair {
  cursor: crosshair;
  border: 2px solid black;
}

.move {
  cursor: move;
  border: 2px solid black;
}

.wait {
  cursor: wait;
  border: 2px solid black;
}

.help {
  cursor: help;
  border:2px solid black;
  border: 2px solid black;
}

.progress {
  cursor: progress;
  border: 2px solid black;
}

.e-resize {
  cursor: e-resize;
  border: 2px solid black;
}
