*
{
	margin: 0;
	padding: 0;
}
body
{
	background-color: #1B1B1B;
	margin: 10px;
}
#wrapper
{
	border: 1px solid green;
	border-left: 2px solid green;
	border-bottom: 2px solid green;
	width: 300px;
	height: 325px;
	background-color: #F0F0F0;
	margin: 0 auto;
	padding: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
#messages
{
	border: 1px solid #777;
	height: 125px;
	margin-top: 5px;
	padding: 5px;
	overflow: auto;
	font-weight: 100;
	text-align: left;
}
#shoutbox
{
	text-align: center;
}
#wrapper textarea
{
	margin: 5px;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 250px;
	height: 60px;
	padding: 3px;
	border: 1px solid #777;
}
#wrapper input
{
	width: 100px;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 5px;
	border: 1px solid #777;	
}
