.page-wrapper{
  background: silver;
}
.gray-box div{
  background: gray;
}
.white-box div{
  min-height: 100px;
  background: white;
}
.white-box .row .yellow-box{
  background: silver;
}

.yellow-box div{
  min-height: 100px;
  background: yellow;
  margin-top: 15px;
}
.gray-box,
.white-box,
.green-box,
.red-box,
.blue-box{
  margin-bottom: 15px;
}
.green-box div{
  background: green;

}
.red-box div{
  min-height: 100px;
  background: red;
}
.blue-box div{
  min-height: 100px;
  background: blue;
}

/* Breakpointy: COL-XS(0-767) COL-SM(768-991) COL-MD(992-1199) C0L-LG(>=1200) */
@media (min-width: 992px) and (max-width: 1199px){
  body{
    background: red;
  }
}
.clearfix-flex {
Flex-basis: 100%;
Flex-shrink:0;
Flex-grow: 1m;
}
