/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

 @import "compass";
 @import "social/*.png";

 @include all-social-sprites(true);

 @include establish-baseline(16px);

 $social-sprite-dimensions: true;
 $socia-layout: smart;

$border-radius-threeshold: 0.5;

p{
  font-size: 15px;
  @include border-radius(11px);
  @include rhythm-borders(4px);
}

.foo:first-of-type{
  @include margin-leader(2);
  @include adjust-font-size-to(18px);
}

.facebook{
  @include social-sprite("facebook");
  //@include social-sprite-dimensions("facebook");
}

#socal-links{
  @include horizontal-list(30px);
}
