/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 96, social/*.png */
.social-sprite, .social-blogger, .social-facebook, .social-google, .social-rss, .social-twitter, .social-youtube, .facebook {
  background-image: url('../img/social-sd4c8cb4caa.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-blogger {
  background-position: 0 0;
  height: 64px;
  width: 64px;
}
/* line 59, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-blogger:hover, .social-blogger.blogger-hover {
  background-position: 0 -64px;
}

/* line 84, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-facebook {
  background-position: 0 -128px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-google {
  background-position: 0 -192px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-rss {
  background-position: 0 -256px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-twitter {
  background-position: 0 -320px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-youtube {
  background-position: 0 -384px;
  height: 64px;
  width: 64px;
}

/* line 106, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 17, ../sass/print.scss */
p {
  font-size: 15px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border-width: 0.25em;
  border-style: solid;
  padding: 1.25em;
}

/* line 23, ../sass/print.scss */
.foo:first-of-type {
  margin-top: 3em;
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 28, ../sass/print.scss */
.facebook {
  background-position: 0 -128px;
  height: 64px;
  width: 64px;
}

/* line 33, ../sass/print.scss */
#socal-links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#socal-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 49, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#socal-links li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#socal-links li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#socal-links li.last {
  padding-right: 0;
}
