@function nazwa_funkcji($variable) {
  @return $variable+10;
}
@function autoContrast($backgroundColor, $textColor) {
  @if lightness($backgroundColor) < 50% {
    @return lighten($textColor, 15%);
  } @else {
    @return darken($textColor, 15%);
  }
}
