@mixin generateRow($number-of-items, $margin){
  width: ((100% - ($number-of-items*$margin)) / $number-of-items);
  margin-right: $margin;
  margin-bottom: $margin;

  // &:nth-child(n){
  //   margin-right: $margin;
  // }

  //INTERPOLACJA STRINGÓW
  &:nth-child(#{$number-of-items}n){
    margin-right: 0;
  }
}


.image{
  //@include generateRow(7, 3%);
  float: left;
  background-color: $colorSteal;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  @media (min-width: $screen-min-width){
    @include generateRow(7, 5%);
  }
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width){
    @include generateRow(5, 2%);
  }
  @media (max-width: $smartphone-max-width){
    @include generateRow(3, 1%);
  }

  img{
    width: 100%;
    height: auto;
  }

  .image-desc{
      display: inline-block;
  }
}
@include small-box(red);
@include small-box(green);
