// Ellipsis at end of line, no wrap.
// @include text-overflow()

@mixin horizontalGradient($startColor: $colorWhite, $endColor: $colorGrey) {
	background-color: $endColor;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
	background-image: linear-gradient(left, $startColor, $endColor);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=1 );
	background-repeat: repeat-y;
}

@mixin small-box($color){
	.small-box{
		width: 50px;
		height: 50px;
		color: $color;
	}
}
