nav {
  width: 700px;
  //ROZSZERZENIE O PLACEHOLDER
  @extend %center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      float: left;

      li {
        display: none;
        float: none;
      }

      &:hover li {
        display: block;
      }
    }
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    background: $LinkNavBgDeaful;
    color: autoContrast($LinkNavBgDeaful, $LinkNavColorDeaful);

    &:hover {
      color: $LinkNavColorHover;
      background: $LinkNavBgHover;
      // FUNKCJA LIGHTEN TO FUNKCJA WEWNĘTRZNA SASSA, nie definiujemy jej
      color: lighten($LinkNavColorHover, 25%);
    }
  }
}
