$fontArial: Arial sans-serif;
$fontVerdana: Verdana sans-serif;

$colorTeal: teal;
$colorGrey: grey;
$colorSteal: #bcbcbc;
$colorMagenta: magenta;
$colorWhite: #fff;

$HeaderOneFont: $fontArial;
$HeaderTwoFont: $fontVerdana;


$HeaderOneColor: $colorTeal;
$HeaderTwoColor: $colorGrey;
$LinkNavColorDeaful: $colorMagenta;
$LinkNavColorHover: $colorTeal;
$LinkNavBgDeaful: #eee;
$LinkNavBgHover: $colorSteal;

$screen-min-width: 1025px;
$tablet-min-width: 481px;
$tablet-max-width: 1024px;
$smartphone-max-width: 480px;
