@import "_variables.scss";
@import "_nav.scss";
@import "_mixins.scss";
@import "_placeholders.scss";
@import "_functions.scss";
@import "_images.scss";


.test {
  padding-top: 150px;
}


h1 {
  font-family: $HeaderOneFont;
  color: $HeaderOneColor;
}

h2 {
  font-family: $HeaderTwoFont;
  color: $HeaderTwoColor;
}
// @include DOŁĄCZA STYLE Z MIXINÓW Z PLIKU _mixins.scss

.akapit {
  width: 100px;
  height: 100px;
  @extend %text-overflow;
  @include horizontalGradient(#FFC, #FF0);
  @extend %center;
  font-size: nazwa_funkcji(10px);
}
// EXTEND -> DODAJE ATRYBUTY KLASY %message DO INNYCH KLAS DZIĘK @extend %message
//  % zamiast . dla klasy żeby nie przenieść niepotrzebnie klasy message do CSS
// %klasa to placeholder

%message {
  padding: 10px;
  width: 150px;
  text-align: center;
  color: $colorGrey;
}

.error {
  border: 1px solid red;
  @extend %message;
}
.warning {
  border: 1px solid #FF0;
  @extend %message;
}
.success {
  border: 1px solid green;
  @extend %message;
}

.petla{
  padding-top: 450px;

  @for $i from 0 to 6 {

    h#{$i}{
      font-size: 50px - $i * 3;
      margin: 10px;
    }
  }
}

.lista_petla{
  $header-list: h6 h5 h4 h3 h2 h1;
  $i: 0;

  @each $current-header in $header-list{
    #{$current-header}{
      font-size: 50px - $i * 3;
      $i: $i - 3;

      margin: 20px;
    }
  }
}
