*
{
	margin: 0;
	padding: 0;
}
body
{
	margin: 10px;
}
h1, h2, h3, h4, h5, h6
{
	margin: 10px;	
}
h3
{
	margin-left: 30px;
}
p
{
	text-indent: 25px;
	margin: 10px 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
li
{
	margin-left: 30px;
	font-size: 14px;
}
li a
{
	text-decoration: none;
	color: #607eff;
}
li a:hover
{
	text-decoration: none;
	color: #0012c6;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
	text-decoration: none;
	color: black;
}

