.main-container {}
.wrapper{
  padding-top: 50px;
}

.main-navigation {}

.slider-container {}

.main-content {}

.dropdown-menu {
  background-color: #343a40;
  border: none;
}

.dropdown-item {
  color: rgb(255, 255, 255, 0.5);
}

.subsite-main-content {
  padding-top: 60px;
}
.sidebar{
}
#slider{
  background: gray;
}
#slider .carousel-item{
  height: 200px;
  text-align: center;
  color: white;
}
#slider .carousel-item p{
  width: 70%;
  margin: 0 auto;
}
.m-thumbnail{
  margin-bottom: 0;
}
#accordion .card-title button{
  padding: 20px 15px;
  display: block;
  width: 100%;
  text-align: left;
}
#accordion .card-header{
  padding: 0;
  background: #1775a1;

}
#accordion h5{
  margin-top: 0;
  margin-bottom: 0;

}
.btn-link{
  color: white;
}
.btn-link:hover{
  color: white;
}
