body{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 1200px;
  margin: 5px auto 0px auto;
  background-image: -webkit-linear-gradient(top, black 0%, white 100%);
  background-image: -moz-linear-gradient(top, black 0%, white 100%);
  background-image: -ms-linear-gradient(top, black 0%, white 100%);
  background-repeat: no-repeat;
}
div#glowny{
  width: 100%;
  /*border: 1px solid black; */
  min-height: 600px;
  box-shadow: 0 0 40px black;
}

header#naglowek{
  float: left;
  height: 200px;
  position: relative;
  text-align: center;
}

div#logo{
  float: left;
  position: relative;
  width: 300px;
  height: 100%;
  background: red;
  border-radius: 20px;
}

div#banner{
  position: relative;
  width: 900px;
  height: 100%;
  background: green;
  float: left;
  text-align: center;
}

div#zawartosc{
  position: relative;
  width: 100%;
  height: 380px;
  float: left;
  text-align: center;

}

aside#lewy_panel{
  position: relative;
  width: 250px;
  float: left;
  height: 100%;
  background: #FFFF00;
  border-radius: 0px 20px;
}

aside#centalny_panel{
  position: relative;
  width: 700px;
  float: left;
  height: 100%;
  background: #0000FF;
  border-radius: 10px/100px;
  box-shadow: inset 0 0 20px #000;
}

aside#prawy_panel{
  position: relative;
  width: 250px;
  float: left;
  height: 100%;
  background: #FF00FF;
  border-radius: 20px 0px;
}

nav#menu{}

div#reklama{}

footer#stopka{
  position: relative;
  width: 100%;
  float: left;
  height: 20px;
  background: #00FFFF;
  text-align: center;
  border-radius: 100px/10px;
}
a.przycisk{
  position: relative;
  display: block;
  width: 150px;
  height: 20px;
  background: #ff0000;
  margin: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  font-weight: bold;
}
a.przycisk:link{}
a.przycisk:visited{}
a.przycisk:hover{
  width: 170px;
  color: #000;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
}
a.przycisk:active{}

div#etykieta_menu{
  margin: 5px;
  height: 30px;
  width: 90%;
  background: #00F;
  margin-left: auto;
  margin-right: auto;
  position:  relative;
  margin-top: 5px;
  color: #FFF;
  padding-top: 7px;
  font-weight: bold;
}

div#etykieta_reklama{
  margin: 5px;
  height: 30px;
  width: 90%;
  background: #00F;
  margin-left: auto;
  margin-right: auto;
  position:  relative;
  margin-top: 5px;
  color: #FFF;
  padding-top: 7px;
  font-weight: bold;
}
img#obrazek1{
  border: 1px solid #000;
  width: 200px;
  height: auto;
  margin-top: 10px;
  -webkit-transform: scale(-1, 1) skew(15deg);
  /*-webkit-transform-origin: left top;*/
}

img#obrazek2{
  border: 1px solid #000;
  -webkit-transform: scale(0.3030303) translate(-680px) translateY(-500px) rotate(15deg);
}
