/* Imports */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"); // TODO: import fontow tutaj, zamiast w <head> w index.html
// hint: https://developer.mozilla.org/pl/docs/Web/CSS/@import
/* note: zdecyduj których czcionkek chcesz używać - za dużo ich,
w skrajnych przypadkach trzy czcionki się zdarzają, generalnie jednak używa się max dwóch
- glownej dla tekstow
- specjalnej dla naglowkow itp. */
/* Vars */
@colorBtn: #e22c2c;
@colorDark: #212529;
@colorLight: #ced4da;
@colorWhite: #ffffff; // TODO (globalne): definicja dwoch czcionkek - basic i special, reszte wywalic
@fontHeading: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; /* Breakpoints */
@fontArticle: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; /* Breakpoints */
@tablet: 768px;
@desktop: 992px; /* Extend Bootsrap styles */

.modal {
  &--portfolio {
    padding-right: 0 !important;

    .modal {
      .close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          opacity: 0.3;
        }

        &-bar {
          background-color: @colorDark;
          width: 1px;
          height: 75px;
          z-index: 1050;

          &--outer {
            margin-left: 35px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &--inner {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }
    }

    .modal {
      &-dialog {
        margin: 1rem;
        max-width: 100vw;
      }

      &-content {
        padding: 100px 0;
        text-align: center;
        // TODO: to jeszcze nie bem :), proponuję &__content-headline
        h2 {
          font-size: 3em;
          margin-bottom: 15px;
        }
        // TODO: to jeszcze nie bem :), coś w stylu tego wyżej
        p {
          margin-bottom: 30px;
          // TODO: to jeszcze nie bem :)
          &.item-intro {
            font-size: 16px;
            font-style: italic;
            margin: 20px 0 30px;
            font-family: @fontArticle;
          }
        }
        // TODO: ul => .m-list m-list--inline i do nowej sekcji, nie zagniezdzonej
        ul {
          align-items: flex-end;

          &.list-inline {
            margin-top: 0;
            margin-bottom: 30px;
          }
        }
        // TODO: przerobić na klasę i do sekcji misc
        img {
          margin-bottom: 30px;
        }
        // TODO: do Global styles
        button {
          cursor: pointer;
        }
      }
    }
  }
}
/* Helper classes */

.textupercase {
  text-transform: uppercase;
}
/* Global styles */

body {
  overflow-x: hidden;
  font-family: @fontArticle;
}

p {
  line-height: 1.75;
}

a {
  color: @colorBtn;

  &:hover {
    color: @colorBtn;
  }
}

img {
  ::-moz-selection {
    background: transparent;
  }

  ::selection {
    background: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: @fontHeading;
}
/* Misc */
::-moz-selection {
  background: @colorBtn;
  text-shadow: none;
}

::selection {
  background: @colorBtn;
  text-shadow: none;
}
/* Buttons */

.btn {
  font-family: @fontHeading;

  &-xl {
    font-size: 18px;
    padding: 20px 40px;
  }

  &-primary {
    background-color: @colorBtn;
    border-color: @colorBtn;

    &:active {
      background-color: @colorBtn !important;
      border-color: @colorBtn !important;
      color: @colorWhite;
      -webkit-box-shadow: 0 0 0 0.2rem @colorBtn !important;
      box-shadow: 0 0 0 0.2rem @colorBtn !important;
    }

    &:focus {
      background-color: @colorBtn !important;
      border-color: @colorBtn !important;
      color: @colorWhite;
      -webkit-box-shadow: 0 0 0 0.2rem @colorBtn !important;
      box-shadow: 0 0 0 0.2rem @colorBtn !important;
    }

    &:hover {
      background-color: @colorBtn !important;
      border-color: @colorBtn !important;
      color: @colorWhite;
    }
  }
}
/* Sections */

.m-section {
  padding: 50px 0;
  @media (min-width: @tablet) {
    padding: 100px 0;
  }

  &--portfolio {
    z-index: 2;
  }

  &--contact {}

  &--dark {
    background-color: @colorDark;
    color: @colorWhite;

    .m-heading {
      color: @colorWhite;
    }
  }
}
/* Info */
// TODO: przerobić to nad w to pod

.m-contact-info {
  color: @colorWhite;
  @media (min-width: @desktop) {
    text-align: center;
  }
  @media (min-width: @tablet) and (max-width: 991px) {
    text-align: left;
  }
  @media (max-width: @tablet) {
    text-align: center;
  }

  &-continued {
    margin-top: 1em;
    margin-bottom: 5em;
    @media (min-width: @tablet) and (max-width: 991px) {
      &-continued {
        text-align: right;
      }
    }
  }

  &__heading {}

  &__subheading {}

  &__text {
    &--address {}

    &--hours {
      @media (max-width: @tablet) {
        max-width: 50%;
      }

      .m-contact-info {
        // width: 100%;
        &__hours-label {
          margin: 0 auto;
        }

        &__hours-value {
          margin: 0 auto;
        }
      }
    }
  }

  &__link {
    &--phone {}

    &--email {}
  }
}
/* .m-heading */

.m-heading {
  color: @colorDark;

  &--section {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  &--subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: @fontArticle;
  }
}
/* Navbars */

.navbar {
  &--main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: @colorDark;
    @media (min-width: @desktop) {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }

    .navbar {
      &-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: white;
        border: 0;
        background-color: @colorBtn;
        font-family: @fontHeading;
      }

      &-brand {
        color: @colorBtn;
        font-family: @fontArticle;

        &.active,
        &:focus,
        &:hover {
          color: @colorBtn;
        }
        @media (min-width: @desktop) {
          font-size: 1.75em;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }

      &-nav {
        .nav {
          &-item {
            &__fb {
              margin: auto 10px;
            }

            .nav {
              &-link {
                font-size: 90%;
                font-weight: 400;
                padding: 0.75em;
                margin-left: auto;
                letter-spacing: 1px;
                color: @colorWhite;
                font-family: @fontHeading;

                &.active,
                &:hover {
                  color: @colorBtn;
                }
                @media (min-width: @desktop) {
                  padding: 1.1em 1em !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.navbar {
  &-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: @colorDark;

    .navbar {
      &-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
/* Headers */

.m-header {
  &--masterhead {
    text-align: center;
    color: @colorWhite;

    .intro {
      &-text {
        padding-top: 150px;
        padding-bottom: 100px;
      }

      &-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: @fontArticle;
      }

      &-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: @fontHeading;
      }
      @media (min-width: @tablet) {
        padding-top: 300px;
        padding-bottom: 200px;
      }
    }

    .carousel-item {
      height: 100vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}
/* Portfolio */

.m-portfolio {
  &__item {}

  &__link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all easse 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: @colorBtn;

    &:hover {
      opacity: 1;
    }
  }

  &__overlay-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
  }

  &__overlay-icon {
    margin-top: -12px;
  }

  &__caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: @colorWhite;
    @media (min-width: 767px) {
      margin: 0 0 30px;
    }
  }

  &__caption-heading {
    margin: 0;
    text-transform: none;
  }
}
/* Footers */

.m-footer {
  &--masterfoot {
    padding: 25px 0;
    text-align: center;

    .m-footer {
      &__copyrights {
        color: yellow;
        font-size: 90%;
        line-height: 40px;
        text-transform: none;
        font-family: @fontHeading;
      }
    }
  }
}
