@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
/* Imports */
/* note: zdecyduj których czcionkek chcesz używać - za dużo ich,
w skrajnych przypadkach trzy czcionki się zdarzają, generalnie jednak używa się max dwóch
- glownej dla tekstow
- specjalnej dla naglowkow itp. */
/* Vars */
/* Breakpoints */
/* Breakpoints */
/* Extend Bootsrap styles */
.modal--portfolio {
  padding-right: 0 !important;
}
.modal--portfolio .modal .close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.modal--portfolio .modal .close:hover {
  opacity: 0.3;
}
.modal--portfolio .modal .close-bar {
  background-color: #212529;
  width: 1px;
  height: 75px;
  z-index: 1050;
}
.modal--portfolio .modal .close-bar--outer {
  margin-left: 35px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal--portfolio .modal .close-bar--inner {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.modal--portfolio .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.modal--portfolio .modal-content {
  padding: 100px 0;
  text-align: center;
}
.modal--portfolio .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.modal--portfolio .modal-content p {
  margin-bottom: 30px;
}
.modal--portfolio .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.modal--portfolio .modal-content ul {
  align-items: flex-end;
}
.modal--portfolio .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}
.modal--portfolio .modal-content img {
  margin-bottom: 30px;
}
.modal--portfolio .modal-content button {
  cursor: pointer;
}
/* Helper classes */
.textupercase {
  text-transform: uppercase;
}
/* Global styles */
body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
p {
  line-height: 1.75;
}
a {
  color: #e22c2c;
}
a:hover {
  color: #e22c2c;
}
img ::-moz-selection {
  background: transparent;
}
img ::selection {
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/* Misc */
::-moz-selection {
  background: #e22c2c;
  text-shadow: none;
}
::selection {
  background: #e22c2c;
  text-shadow: none;
}
/* Buttons */
.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}
.btn-primary {
  background-color: #e22c2c;
  border-color: #e22c2c;
}
.btn-primary:active {
  background-color: #e22c2c !important;
  border-color: #e22c2c !important;
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 0.2rem #e22c2c !important;
  box-shadow: 0 0 0 0.2rem #e22c2c !important;
}
.btn-primary:focus {
  background-color: #e22c2c !important;
  border-color: #e22c2c !important;
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 0.2rem #e22c2c !important;
  box-shadow: 0 0 0 0.2rem #e22c2c !important;
}
.btn-primary:hover {
  background-color: #e22c2c !important;
  border-color: #e22c2c !important;
  color: #ffffff;
}
/* Sections */
.m-section {
  padding: 50px 0;
}
@media (min-width: 768px) {
  .m-section {
    padding: 100px 0;
  }
}
.m-section--portfolio {
  z-index: 2;
}
.m-section--dark {
  background-color: #212529;
  color: #ffffff;
}
.m-section--dark .m-heading {
  color: #ffffff;
}
/* Info */
.m-contact-info {
  color: #ffffff;
}
@media (min-width: 992px) {
  .m-contact-info {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .m-contact-info {
    text-align: left;
  }
  .m-contact-info-continued {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .m-contact-info {
    text-align: center;
  }
}
.m-contact-info-continued {
  margin-top: 1em;
  margin-bottom: 5em;
}
/* .m-heading */
.m-heading {
  color: #212529;
}
.m-heading--section {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.m-heading--subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/* Navbars */
.navbar--main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: #212529;
}
@media (min-width: 992px) {
  .navbar--main {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
}
.navbar--main .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #e22c2c;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.navbar--main .navbar-brand {
  color: #e22c2c;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.navbar--main .navbar-brand.active,
.navbar--main .navbar-brand:focus,
.navbar--main .navbar-brand:hover {
  color: #e22c2c;
}
@media (min-width: 992px) {
  .navbar--main .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.navbar--main .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.navbar--main .navbar-nav .nav-item .nav-link.active,
.navbar--main .navbar-nav .nav-item .nav-link:hover {
  color: #e22c2c;
}
@media (min-width: 992px) {
  .navbar--main .navbar-nav .nav-item .nav {
    padding: 1.1em 1em !important;
  }
}
.navbar--main .navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}
.navbar--main .navbar-shrink .navbar-brand {
  font-size: 1.25em;
  padding: 12px 0;
}
/* Headers */
.m-header--masterhead {
  text-align: center;
  color: #ffffff;
}
.m-header--masterhead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}
.m-header--masterhead .intro-lead-in {
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.m-header--masterhead .intro-heading {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@media (min-width: 768px) {
  .m-header--masterhead .intro {
    padding-top: 300px;
    padding-bottom: 200px;
  }
}
.m-header--masterhead .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Portfolio */
.m-portfolio__link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}
.m-portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all easse 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: #e22c2c;
}
.m-portfolio__overlay:hover {
  opacity: 1;
}
.m-portfolio__overlay-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}
.m-portfolio__overlay-icon {
  margin-top: -12px;
}
.m-portfolio__caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #ffffff;
}
@media (min-width: 767px) {
  .m-portfolio__caption {
    margin: 0 0 30px;
  }
}
.m-portfolio__caption-heading {
  margin: 0;
  text-transform: none;
}
/* Footers */
.m-footer--masterfoot {
  padding: 25px 0;
  text-align: center;
}
.m-footer--masterfoot .m-footer__copyrights {
  color: yellow;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
