body{
  border: 5px solid #ff0000;
  text-align: left;
  font-size: 20px;
  margin: 10px;
}
#glowny{
  position: relative;
  height: 300px;
  width: 800px;
  border: 5px solid #ffff00;
  background: rgba(0, 255, 255, 0.20);
}
#jeden{
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: #FF0000;
  display: inline-block;
}
#dwa{
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: #00FF00;
  display: inline-block;
  top: 100px;
  left: -100px;
}
#trzy{
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: #0000FF;
  display: inline-block;
  top: 200px;
  left: -200px;
}
