* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}
tr td,tr th{
  padding: 5px;
}
.wycentrowaneKomorki{
  text-align: center;
}
.wzor1{
  background: #CCA;
}
.wzor2{
  background: #BBA;
}
.podswietlenie{
  background: #EEA;
}
.box{
  width: 350px;
  height: 350px;
  background-color: #222;
  padding: 15px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: #AAA;
  border: 1px solid #AAA;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.box a{
  text-decoration: none;
  color: #fff;
}
.box a:hover{
  border-bottom: 1px solid rgb(161, 233, 255);
  color: rgb(161, 233, 255);
}
#otoczka{
  display: none;
}