*
{
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#formWojewodztwo
{
	margin: 10px;
}
#wojewodztwo
{
	
	padding: 1px 0px;
	width: 150px;
}
#suggestBoxField
{
	position: absolute;
	visibility: hidden;
}
.podpowiedzi
{
	border-bottom: 1px solid black;
	width: 144px;
	background-color: gray;
	padding: 5px;	
}
.podpowiedzihover
{
	border-bottom: 1px solid black;
	width: 144px;
	background-color: teal;
	padding: 5px;
	cursor: pointer;

}
.error
{
	background-color: yellow;
}
.daneOWojewodztwie
{
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.daneOWojewodztwie .cellHeader
{
	font-weight: bold;
	padding-right: 10px;
}
