/* Extend Bootsrap styles */

.modal {
  &--portfolio {
    @include padding-all(0);

    .modal {
      .close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 75px;
        @extend %cursor;
        background-color: transparent;

        &:hover {
          opacity: 0.3;
        }

        &-bar {
          background-color: $colorDark;
          width: 1px;
          height: 75px;
          z-index: 1050;

          &--outer {
            margin-left: 35px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &--inner {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }
    }

    .modal {
      &-dialog {
        margin: 1rem;
        max-width: 100vw;
      }

      &-content {
        padding: 100px 0;
        @extend %text-align-center;
        // TODO: to jeszcze nie bem :), proponuję &__content-headline
        &__content {
          &-headline {
            font-size: 3em;
            margin-bottom: 15px;
          }

          &-paragraph {
            margin-bottom: 30px;

            &--item-intro {
              font-size: 16px;
              font-style: italic;
              margin: 20px 0 30px;
              font-family: $fontArticle;
            }
          }
        }
        // TODO: ul => .m-list m-list--inline i do nowej sekcji, nie zagniezdzonej
        .m {
          &-list {
            align-items: flex-end;

            &--inline {
              margin-top: 0;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
