/* Buttons */

.btn {
    font-family: $fontHeading;
  
    &-xl {
      font-size: 18px;
      padding: 20px 40px;
    }
  
    &-primary {
      background-color: $colorBtn;
      border-color: $colorBtn;
  
      &:active {
        background-color: $colorBtn !important;
        border-color: $colorBtn !important;
        color: $colorWhite;
        -webkit-box-shadow: 0 0 0 0.2rem $colorBtn !important;
        box-shadow: 0 0 0 0.2rem $colorBtn !important;
      }
  
      &:focus {
        background-color: $colorBtn !important;
        border-color: $colorBtn !important;
        color: $colorWhite;
        -webkit-box-shadow: 0 0 0 0.2rem $colorBtn !important;
        box-shadow: 0 0 0 0.2rem $colorBtn !important;
      }
  
      &:hover {
        background-color: $colorBtn !important;
        border-color: $colorBtn !important;
        color: $colorWhite;
      }
    }
  }