/* Footers */

.m-footer {
  &--masterfoot {
    padding: 25px 0;
    @extend %text-align-center;

    .m-footer {
      &__copyrights {
        color: $colorBtn;
        @include font-size(90%);
        @include line-height(40px);
        text-transform: none;
        font-family: $fontHeading;
      }
    }
  }
}
