/* Global styles */

body {
  overflow-x: hidden;
  font-family: $fontArticle;
}

p {
  @include line-height(1.75);
}

a {
  color: $colorBtn;

  &:hover {
    color: $colorBtn;
  }
}

img {
  ::-moz-selection {
    background: transparent;
  }

  ::selection {
    background: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $fontHeading;
}
// TODO: do Global styles
button {
  @extend %cursor;
}
