/* .m-heading */

.m-heading {
  color: $colorDark;

  &--section {
    @include font-size(40px);
    @include margin-top(0);
    @include margin-bottom(50px);
    text-transform: uppercase;
  }

  &--subheading {
    @include font-size(16px);
    font-weight: 400;
    font-style: italic;
    @include margin-bottom(75px);
    text-transform: none;
    font-family: $fontArticle;
  }
}
