/* Headers */

.m-header {
  &--masterhead {
    @extend %text-align-center;
    color: $colorWhite;

    .intro {
      &-text {
        padding-top: 150px;
        padding-bottom: 100px;
      }

      &-lead-in {
        @include font-size(40px);
        font-style: italic;
        @include line-height(40px);
        @include margin-bottom(25px);
        font-family: $fontArticle;
      }

      &-heading {
        @include font-size(75px);
        font-weight: 700;
        @include line-height(75px);
        @include margin-bottom(50px);
        font-family: $fontHeading;
      }
      @media (min-width: $tablet) {
        padding-top: 300px;
        padding-bottom: 200px;
      }
    }

    .carousel-item {
      height: 100vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}
