/* Info */
// TODO: przerobić to nad w to pod

.m-contact-info {
  color: $colorWhite;
  @media (min-width: $desktop) {
    text-align: center;
  }
  @media (min-width: $tablet) and (max-width: 991px) {
    text-align: left;
  }
  @media (max-width: $tablet) {
    text-align: center;
  }

  &-continued {
    @include margin-top(1em);
    @include margin-bottom(5em);
    @media (min-width: $tablet) and (max-width: 991px) {
      &-continued {
        text-align: right;
      }
    }
  }

  &__text {

    &--hours {
      @media (max-width: $tablet) {
        max-width: 50%;
      }

      .m-contact-info {
        // width: 100%;
        &__hours-label {
          @include margin-all(0 auto);
        }

        &__hours-value {
          @include margin-all(0 auto);
        }
      }
    }
  }
}
