@mixin line-height($heightOfLine) {
    line-height: $heightOfLine;
}
@mixin font-size($sizeOfFont) {
    font-size: $sizeOfFont;
}

@mixin padding-all($sizeOfPadding){
  padding: $sizeOfPadding;
}
@mixin padding-top($sizeOfPadding){
  padding-top: $sizeOfPadding;
}
@mixin padding-right($sizeOfPadding){
  padding-right: $sizeOfPadding;
}
@mixin padding-bottom($sizeOfPadding){
  padding-bottom: $sizeOfPadding;
}
@mixin padding-left($sizeOfPadding){
  padding-left: $sizeOfPadding;
}

@mixin margin-all($sizeOfMargin){
  margin: $sizeOfMargin;
}
@mixin margin-top($sizeOfMargin){
  margin-top: $sizeOfMargin;
}
@mixin margin-right($sizeOfMargin){
  margin-right: $sizeOfMargin;
}
@mixin margin-bottom($sizeOfMargin){
  margin-bottom: $sizeOfMargin;
}
@mixin margin-left($sizeOfMargin){
  margin-left: $sizeOfMargin;
}
