/* Navbars */

.navbar {
  &--main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: $colorDark;
    @media (min-width: $desktop) {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }

    .navbar {
      &-toggler {
        @include font-size(12px);
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: white;
        border: 0;
        background-color: $colorBtn;
        font-family: $fontHeading;
      }

      &-brand {
        color: $colorBtn;
        font-family: $fontArticle;

        &.active,
        &:focus,
        &:hover {
          color: $colorBtn;
        }
        @media (min-width: $desktop) {
          @include font-size(1.75em);
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }

      &-nav {
        .nav {
          &-item {
            &__fb {
              @include margin-all(auto 10px);
            }

            .nav {
              &-link {
                @include font-size(90%px);
                font-weight: 400;
                padding: 0.75em;
                @include margin-left(auto);
                letter-spacing: 1px;
                color: $colorWhite;
                font-family: $fontHeading;

                &.active,
                &:hover {
                  color: $colorBtn;
                }
                @media (min-width: $desktop) {
                  padding: 1.1em 1em !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.navbar {
  &-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $colorDark;

    .navbar {
      &-brand {
        @include font-size(1.25em);
        padding: 12px 0;
      }
    }
  }
}
