%cursor{
    cursor: pointer;
}
%text-align-center{
    text-align: center;
}
%button-colors{
  background-color: $colorBtn!important;
  border-color: $colorBtn !important;
  color: $colorWhite;
}
%button-shadows{
  -webkit-box-shadow: 0 0 0 0.2rem $colorBtn !important;
  box-shadow: 0 0 0 0.2rem $colorBtn !important;
}
