/* Portfolio */

.m-portfolio {

  &__link {
    position: relative;
    display: block;
    max-width: 400px;
    @include margin-all(0 auto);
    @extend %cursor;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all easse 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: $colorBtn;

    &:hover {
      opacity: 1;
    }
  }

  &__overlay-content {
    @include font-size(20px);
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    @include margin-top(-12px);
    @extend %text-align-center;
    color: white;
  }

  &__overlay-icon {
    @include margin-top(-12px);
  }

  &__caption {
    max-width: 400px;
    @include margin-all(0 auto);
    padding: 25px;
    @extend %text-align-center;
    background-color: $colorWhite;
    @media (min-width: 767px) {
      @include margin-all(0 0 30px);
    }
  }

  &__caption-heading {
    @include margin-all(0);
    text-transform: none;
  }
}
