/* Sections */

.m-section {
  @include padding-all(50px 0);
  @media (min-width: $tablet) {
    @include padding-all(100px 0);
  }

  &--portfolio {
    z-index: 2;
  }

  &--dark {
    background-color: $colorDark;
    color: $colorWhite;

    .m-heading {
      color: $colorWhite;
    }
  }
}
