/* Variables */

$colorBtn: #e22c2c;
$colorDark: #212529;
$colorLight: #ced4da;
$colorWhite: #ffffff; // TODO (globalne): definicja dwoch czcionkek - basic i special, reszte wywalic
$fontHeading: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; /* Breakpoints */
$fontArticle: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; /* Breakpoints */
$tablet: 768px;
$desktop: 992px;
