* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}

div.naglowek {
  background-color: #bbb;
  width: 516px;
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 10px; 
}

div.naglowek span {
  font-style: italic;
  cursor: pointer;
}

div.ukrytyTekst {
  background-color: #ccc;
  width: 500px;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  display: none;
}
.gh{
  color: blue;
}