#info
{
    position: fixed;
    right: 0;
    bottom: 0;
}
#slideShow{
    width: 384px;
    height: 307px;
    position: relative;
}
#slideShow img{
    width: 384px;
    position: absolute;
    opacity: 0;
    transition: 1s;
}
#slideShow .current{
    width: 560px;
    opacity: 1;
    transition: 2s;
}