.thumbnail
{
    width: 60px;
}
.thumbnail:hover
{
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}
#mainImage
{
    width: 350px;
    height: 263px;
    margin-bottom: 10px;
}
.current
{
    border-bottom: 2px solid red;
    margin-bottom: -2px;    
}
#tooltipsContainer{
    border-bottom: 3px solid #eee;
    background-color: #f7f5d0;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    padding: 5px;
    display: none; 
}