.kolorRed{
    color: red;
}
#tooltip{
    display: none;
    background-color: teal;
    position: absolute;
}

#toTopButton{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 150px;
    height: 40px;
    background-color: coral;
    cursor: pointer;
    display: none;
}

#toTopButton:hover{
    background-color: rgb(172, 86, 55);
}

#wykrzyknik{
    position: absolute;
}