.container{
    height: 500px;
    border: 1px solid black;
    display: flex; 
    /* flex-direction: column;    */
    align-items: flex-end; /* align-items działa  w przeciwna stronę niż flex-direction */    
    justify-content: center; /* justify-content działa względem tego co jest w flex-direction */

    flex-wrap: wrap;
}

/* flex: wzrost | malenie | podporządkowuje pozostałe miejsce */

.container div{
    width: 200px;
    min-height: 100px;
}
.jeden{
    background: red;    
    flex: 0 0 auto;
}
.dwa{
    background: green;
    flex: 0 1 auto;
}
.trzy{
    background: blue;
    flex: 1 1 auto;
}