*
{
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#formWojewodztwo
{
	margin: 10px;
}
#filtrWojewodztw
{
	padding: 10px;
	width: 130px;
}
.filtry
{
	margin: 5px 0px;
}
#wojewodztwa
{	
	margin: 10px;
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}
.rekord
{
	padding-right: 30px;
}
