* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}
.news{
  width: 300px;
  background-color: #777;
  border: 1px solid #DDD;
  border-bottom: 2px solid #DDD;
  border-left: 2px solid #DDD;
  margin: 10px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: #DDD;
}